* {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

.initialism {
  font-size: inherit;
  text-transform: none;
  font-variant: small-caps;
}
